In [8]:
UNDER_20 = [
    "Zero", "One", "Two", "Three", "Four",
    "Five", "Six", "Seven", "Eight", "Nine",
    "Ten", "Eleven", "Twelve", "Thirteen", "Fourteen",
    "Fifteen", "Sixteen", "Seventeen", "Eighteen", "Nineteen"
]

In [26]:
TENS = [
    "", "", "Twenty", "Thirty", "Forty", "Fifty",
    "Sixty", "Seventy", "Eighty", "Ninety"
]

In [57]:
OVER_100 = {
    100: "Hundred",
    1_000: "Thousand",
    1_000_000: "Million",
    1_000_000_000: "Billion",
    1_000_000_000_000: "Trillion",
    1_000_000_000_000_000: "Quadrillion",
    1_000_000_000_000_000_000: "Quintillion",
    1_000_000_000_000_000_000_000: "Sextillion",
    1_000_000_000_000_000_000_000_000: "Septillion",
    1_000_000_000_000_000_000_000_000_000: "Octillion",
    1_000_000_000_000_000_000_000_000_000_000: "Nonillion",
    1_000_000_000_000_000_000_000_000_000_000_000: "Decillion"
}

In [5]:
def num_2_words(num):
	if num < 20:
		return UNDER_20[num]

	if num < 100:
		remainder = num % 10
		if remainder == 0:
			return TENS[num // 10]

		return TENS[num // 10] + "-" + num_2_words(remainder)

	if num >= 100:
		pivot = max([key for key in OVER_100 if num >= key])
		remainder = num % pivot
		p1 = num_2_words(num // pivot)
		p2 = OVER_100[pivot]
		p3 = num_2_words(remainder)
		if remainder == 0:
			return p1 + "-" + p2
			
		return  p1 + "-" + p2 + "-" + p3

In [11]:
UNDER_TWENTY = {
    "Zero": 0,
    "One": 1,
    "Two": 2,
    "Three": 3,
    "Four": 4,
    "Five": 5,
    "Six": 6,
    "Seven": 7,
    "Eight": 8,
    "Nine": 9,
    "Ten": 10,
    "Eleven": 11,
    "Twelve": 12,
    "Thirteen": 13,
    "Fourteen": 14,
    "Fifteen": 15,
    "Sixteen": 16,
    "Seventeen": 17,
    "Eighteen": 18,
    "Nineteen": 19
}
TENS_NUMS = {
    "Twenty": 20,
    "Thirty": 30,
    "Fourty": 40,
    "Fifty": 50,
    "Sixty": 60,
    "Seventy": 70,
    "Eighty": 80,
    "Ninety": 90
}
OVER_ONE_HUNDRED = {
    "Hundred": 100,
    "Thousand": 1_000,
    "Million": 1_000_000
}

In [24]:
def words_to_num(words: str):
	if len(words.split("-")) == 1:
		if words.title() in UNDER_TWENTY:
			return UNDER_TWENTY[words.title()]
		else:
			return TENS_NUMS[words.title()]
			
	if len(words.split("-")) == 2:
		if words.split("-")[0].title() in TENS_NUMS:
			summation = 0
			for word in words.split("-"):
				summation += words_to_num(word)

			return summation
			
		if words.split("-")[0].title() in UNDER_TWENTY:
			return words_to_num(words.split("-")[0]) * OVER_ONE_HUNDRED[words.split("-")[1].title()]
			
	if len((words.split("-", ))) == 3:
		p1 = words_to_num("-".join([words.split("-")[0], words.split("-")[1]]))
		p2 = words_to_num(words.split("-")[-1])
		return p1 + p2

In [27]:
words_to_num("eight-hundred-three")

803

In [ ]:
# one-hundred-three
# One-Hundred-four
# One-Thousand-one
# One-Million-six

In [ ]:
def words_2_num(words: str):
    if words in UNDER_TWENTY:
        return UNDER_TWENTY[words]
    
    if words.split("-")[0] in TENS_NUMS:
        if len(words.split("-")) == 1:
            return TENS_NUMS[words]
        
        return TENS_NUMS[words.split("-")[0]] + words_2_num(words.split("-")[-1])
    if words.split("-")

In [77]:
words_2_num("One-Hundred-Twenty-One")

31

In [56]:
word = "Twenty"

In [59]:
words_split = word.split("-")
words_split[-1]
# TENS_NUMS[words_split[0]] + words_2_num(words_split[-1])

'Twenty'

In [16]:
# Twenty-Three

1

In [11]:
# Exception handling.
# Implement support for negative numbers.
# Add support for decimal numbers.
# Create a web interface for the number-to-word converter.
# Implement a feature to convert words back to numbers.
# Add support for larger numbers beyond 12 digits.
# Implement a feature to convert numbers into words in different languages.